# <b>Object Types and Data Structures</b>

### <b>Summary:</b>

* Numbers are a type that includes integers and floats (e.g., 1, 2, 2.4, 100000, 0.2).

* Strings are a type designed for letters and words.

* Lists are collections that can be mutable and contain different data types.
    * append(): Adds an element to the end of the list;
    * extend(): Adds all elements of an iterable to the end of the list;
    * insert(): Inserts an element at a specified position;
    * remove(): Removes the first occurrence of a specified value;
    * pop(): Removes and returns the element at a specified position.
    * index(): Returns the index of the first occurrence of a specified value.
    * count(): Returns the number of occurrences of a specified value.
    * sort(): Sorts the list in place.
    * reverse(): Reverses the order of the list in place.

* Tuples are collections, but unlike lists, they are immutable.
    * count(): Returns the number of occurrences of a specified value;
    * index(): Returns the index of the first occurrence of a specified value.

* Sets are unordered collections of unique elements.
    * add(): Adds an element to the set;
    * remove(): Removes a specified element;
    * intersection(): Returns a new set with elements common to both sets.

* Dictionaries are also collections, but they are formed with key*value pairs.
    * keys(): Returns a view object of all keys in the dictionary;
    * values(): Returns a view object of all values in the dictionary;
    * items(): Returns a view object of all key*value pairs in the dictionary.

____

## <b>Numbers</b>

<b>Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.<?b>

In [1]:
(2*50) + (1**2) + (5.25) * (6)

100.25

<b>Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5 
</b>

44

29

34

In [6]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

<b>What is the *type* of the result of the expression 3 + 1.5 + 4?<b><br><br>

float

In [8]:
type(3+1.5+4)

float

<b>Find a numberâ€™s square root and its square</b>

In [9]:
# Square root:
4**(1/2)

2.0

In [10]:
# Square:
4**2

16

___
## <b>Strings</b>

<b>Given the string 'hello' give an index command that returns 'e'</b>

In [6]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

<b>Reverse the string 'hello' using slicing:</b>

In [9]:
s ='hello'
# Reverse the string using slicing
s[::*1]

'olleh'

<b>Given the string hello, give two methods of producing the letter 'o' using indexing.</b>

In [10]:
s ='hello'
# Print out the 'o'

# Method 1:
s[*1]

'o'

In [12]:
# Method 2:
s[s.find('o')]

'o'

___
## <b>Lists</b>

<b>Build this list [0,0,0] two separate ways.</b>

In [52]:
# Method 1:
[0]*3

[0, 0, 0]

In [14]:
# Method 2:
[0,0,0]

[0, 0, 0]

<b>Reassign 'hello' in this nested list to say 'goodbye' instead:</b>

In [18]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

<b>Sort the list below:</b>

In [54]:
list4 = [5,3,4,6,1]

sorted(list4)
list4.sort()
list4

[1, 3, 4, 5, 6]

___
## <b>Dictionaries</b>

<b>Using keys and indexing, grab the 'hello' from the following dictionaries:</b>

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [22]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [29]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [44]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

<b>Can you sort a dictionary? Why or why not?</b><br><br>

Dictionaries are inherently unordered. However, you can sort a dictionary by its keys or values by converting it to a list of tuples, sorting the list, and then converting it back to a dictionary if needed

In [ ]:
my_dict = {3: 'c', 1: 'a', 2: 'b'}
sorted_dict = dict(sorted(my_dict.items()))
print(sorted_dict)

___
## <b>Tuples</b>

<b>What is the major difference between tuples and lists?</b><br><br>

Tuples are immutable and lists don't. So, lists can be modified after creation (add, chnage, or remove), while tuples cannot be modified.

<b>How do you create a tuple?</b><br><br>

Using parentheses ()

___
## <b>Sets</b>

<b>What is unique about a set?</b><br><br>

A set is a collection type that only contains unique values.

In [1]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

___
## <b>Booleans</b>

Preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [46]:
# Answer before running cell
2 > 3

#False

False

In [47]:
# Answer before running cell
3 <= 2

#False

False

In [48]:

# Answer before running cell
3 == 2.0

# False

False

In [49]:
# Answer before running cell
3.0 == 3

# True

True

In [50]:
# Answer before running cell
4**0.5 != 2

# False

False

In [51]:
# What is the boolean output of the block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#False

False